<h1>Welcome to the Superheroine Creator</h1>
<h2>A Flatiron Code Challenge Product</h2>
<div id = "description">
  <p>Here you can create a superheroine with a name and super name of your choice and give her a power.</p>
    <ul>
      <li>To see all existing superheroines, click <%= link_to "here", heroines_path %></li>
      <li>To create a new heroine, click <%= link_to "here", new_heroine_path %></li>
      <li>To see all existing superpowers, click <%= link_to "here", powers_path %></li>
    </ul>
</div>